[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
tw = "bash -c 'ptw'"

[packages]
python-dateutil = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"
python-dotenv = "*"
pyinstaller = "*"

[requires]
python_version = "3.11"
