[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
requirements = "bash -c 'pipenv requirements > src/requirements.txt'"
synth = "bash -c 'pipenv run requirements && cd infrastructure/cdk && cdk synth'"
deploy = "bash -c 'cd infrastructure/cdk && cdk deploy'"

[packages]
boto3 = "*"
pymongo = "*"
python-dotenv = "*"
mmh3 = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"

[requires]
python_full_version = "3.11.4"
