[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
requirements = "bash -c 'pipenv requirements > src/requirements.txt'"
synth = "bash -c 'pipenv run requirements && cd infrastructure/cdk && cdk synth'"
deploy = "bash -c 'cd infrastructure/cdk && cdk deploy'"
synth-deploy = "bash -c 'pipenv run synth && pipenv run deploy'"
local = "bash -c 'cd infrastructure/local && flask --app api run --extra-files ../../src/**/*.py --debug --port 5001'"
tw = "bash -c 'ptw'"
setupmongo = "bash -c 'cd infrastructure && python mongodb.py'"

[packages]
pymongo = "*"
mmh3 = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"
flask = "*"
boto3 = "*"
pytest-dotenv = "*"
python-dotenv = "*"

[requires]
python_full_version = "3.11.4"
