{
  "requestContext": {
    "authorizer": {
      "jwt": {
        "claims": {
          "email": "..." // email address of the user
        }
      },
      "lambda": {
        "email": "..." // email address of the user
      }
    }
  }
}
